<%- include("header") -%>
    
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    
    <div class="box">
        <!-- <% for(var i=0;i<newItems.length;i++){ %>
            <div class="item">
                <input type="checkbox">
                <p> <%= newItems[i].name %> </p>
            </div>
        <% } %> 
        -->

        <% newItems.forEach(function(item){ %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%=item._id %>" onchange="this.form.submit();">                  <!-- onchange="this.form.submit();" is used to submit the form when we click on a checkbox. -->
                    <p> <%= item.name %> </p>
                </div>
                <input type="hidden" name="listName" id="listName" value="<%= listTitle %>" />
            </form>
        <% }); %>
    </div>

    <div class="item">
        <form action="/" method="post">
            <input type="text" name="item" placeholder="New Item" autocomplete="off"/>
                <button type="submit" class="submit" name="list" value= <%= listTitle %> >+</button>
        </form>
    </div>

<%- include("footer") -%>